/* .row {
    border-bottom: 2px rgb(0, 0, 0) solid;
} */
.col *{
    background: rgba(0, 162, 255, 0.1);
    border: 1px rgba(0, 162, 255, 0.5) solid;
    border-radius: 10px;
    /* padding: 1px; */
}
.col{
    border: 1px rgba(0, 162, 255, 0.5) dashed;
    border-radius: 10px;
}
.col *:hover{
    border: 1px rgb(255, 0, 0) solid;
}
a{
    background: rgba(255, 0, 0, 0.1) !important;
    /* border: 1px rgba(255, 0, 0, 0.5) solid !important; */
}