.header {

    background-color: #ffffff;
    transition: 1s;
}

.header-scroll-up {
    top: -100px;
}

.header-scroll-down {
    bottom: -100px;
}



/* Шапка / Содержимое */

.header-content {
    padding: 20px 0;
    border-bottom: 1px solid #BBBBBB;

    border-top: 1px solid #BBBBBB;
    margin: -1px 0;
}

/* Шапка / Город */

.header-contact {
    display: flex;
    align-items: center;
}

.header-contact>.header-contact-ico {
    margin-right: 16px;
}

.header-contact-city {
    width: auto;
    font-size: 18px;
    margin-bottom: 10px;
}

.header-contact-phone {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #1B1B1B;
}



/* Шапка / Кнопка каталога */

.header-btn {
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    padding: 10px 16px;
    color: #1B1B1B;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.header-btn:hover {
    background: #f1f1f1;
    border: 1px solid #BBBBBB;
}

.header-btn>*:first-child {
    margin-right: 16px;
    padding: 0;
}



/* Шапка / Ссылка */

.header-link {
    display: block;
    padding: 8px;
}

.header-link:hover svg * {
    stroke: rgb(186, 130, 88);
}