/* Шапка */

.header {
    width: 100%;
    top: 0;
    z-index: 800;
    /* position: absolute; */
}

/* Шапка / Содержимое */

.header-content {
    background: white;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #BBBBBB;
}

.header-content>* {
    margin: 0px 12px;
}

.header-content>*:first-child {
    margin-left: 0;
}

.header-content>*:last-child {
    margin-right: 0;
}



/* Шапка / Город */

.header-contact {
    display: flex;
    align-items: center;
}

.header-contact>.header-contact-ico {
    margin-right: 16px;
}

.header-contact-city {
    width: auto;
    font-size: 18px;
    margin-bottom: 10px;
}

.header-contact-phone {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #1B1B1B;
}



/* Шапка / Кнопка каталога */

.header-btn {
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    padding: 10px 16px;
    color: #1B1B1B;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.header-btn:hover {
    background: #f1f1f1;
    border: 1px solid #BBBBBB;
}

.header-btn>*:first-child {
    margin-right: 16px;
    padding: 0;
}



/* Шапка / Ссылка */

.header-link{
    padding: 8px 8px;
}
.header-link:hover svg *{
    stroke: rgb(186, 130, 88);
}
.header-link:last-child{
    padding-right: 0;
}
.header-link:first-child{
    padding-left: 0;
}