@charset "UTF-8";

*{
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #1B1B1B;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
.h1 {
    font-size: 46px;
    font-weight: 400;
}

h2,
.h2 {
    font-size: 40px;
    font-weight: 400;
}

h3,
.h3 {
    font-size: 30px;
    font-weight: 400;
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 400;
}

h5,
.h5 {
    font-size: 16px;
    font-weight: 400;
}

main{
    margin: 120px 0;
}
.section{
    margin-bottom: 200px;
}
.section:last-child{
    margin-top: 0;
}

.container {
    max-width: 1530px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}



.link {
    position: relative;
    text-decoration: none;
    color: #252525;
    /* transition: .5s; */
}

.link:hover {
    color: rgb(186, 130, 88);
}

.link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(186, 130, 88);
    transition: .2s;
}

.link:hover::after {
    width: 100%;
}

.lock{
    opacity: .5;
    transition: .5s;
    pointer-events: none;
    filter: blur(2px);  
    position: relative;
}
.img-frame{
    width: 100%;
    height: auto;
}

.fixed-start {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
  }
  
  .fixed-end {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
  