* {
    /* border-radius: 3px; */
    
    background-color: transparent;
    /* border: 1px transparent solid; */
}

.container {
    border: 1px rgb(0, 162, 255) solid;
}
.container>.row>.col {
    border: 0px transparent;
}

.col {
    background: rgba(0, 162, 255, 0.1);
    border: 1px rgba(0, 162, 255, 1) dashed;
}

.col *:hover {
    /* border: 1px rgb(255, 0, 0) solid;
    background: 1px rgb(255, 0, 0, 0.05) ; */
}
